*~
*.o
*.elf
*.bin
*.list
*.swp
*.bak
*.csv
*.png
benchmark_clock_gettime
methods_error_rate
time_test_avx
time_test_avxunroll
time_test_baseline
time_test_openmp_2
time_test_openmp_4
time_test_leibniz
time_test_leibniz_avx
time_test_leibniz_avxunroll
time_test_leibniz_openmp_2
time_test_leibniz_openmp_4
time_test_euler
time_test_euler_avx
time_test_euler_avxunroll
time_test_euler_openmp_2
time_test_euler_openmp_4
